{{ define "main" }}
<div data-pagefind-ignore="all" class="container">
    <div class="row">
   	    <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
            <div class="archive-list">
                <h2 class="section-title">Publications</h2>

                <h3 class="title is-5 has-text-weight-normal">2025</h3>
                <div class="publication-entry">
                    <div class="pub-date">July 24, 2025</div>
                    <div class="pub-title"><a href="https://doi.org/10.1021/acs.est.8b06154"><strong>Accumulation of Soil Microbial Necromass Controlled by Microbe–Mineral Interactions</strong></a></div>
                    <div class="pub-authors"><strong>Qian Zhao</strong>, Sheryl Bell, Ravi Kukkadapu, Jocelyn Richardson, John Cliff, Mark Bowden, Sarah Leichty, and Kirsten S. Hofmockel</div>
                    <div class="pub-journal">Environmental Science &amp; Technology 2025 59 (33), 17558-17570</div>
                </div>

                <h3 class="title is-5 has-text-weight-normal">2024</h3>
            </div>
  	</div>
        {{ partial "sidebar.html" . }}
	</div>
</div>


<hr />
{{ end }}
